// HEADER :: START
section#section-top
header.header
  .container(data-aos='fade-down')
    .header__wrapper
      a(href="#section-top").header__logo
        img(src="img/logotype.svg", alt="")
      .header__mobile
        .header__menu
          a.header__menu-link(href="#section-advantages") Преимущества
          a.header__menu-link(href="#section-services") Услуги
          a.header__menu-link(href="#section-projects") проекты
          a.header__menu-link(href="#section-stages") Этапы
          a.header__menu-link(href="#section-contacts") Контакты
        a.header__btn(href="#section-lead") Связаться
      .hamburger.hamburger--spin(js-hamburger)
        .hamburger-box
          .hamburger-inner
// HEADER :: END
