// HEADER :: START
header.header(data-aos='fade-down')
  .container
    .header__wrapper
      a(href="home.html").header__logo
        img(src="img/logotype.svg", alt="")
      .header__mobile
        .header__menu
          a.header__menu-link(href="#section-about" data-section='1') Преимущества
          a.header__menu-link(href="#section-for-shippers" data-section='2') Услуги
          a.header__menu-link(href="#section-for-carriers" data-section='3') проекты
          a.header__menu-link(href="#section-platform" data-section='4') Этапы
          a.header__menu-link(href="#section-careers" data-section='5') Контакты
        a.header__btn(href="#section-contacts") Связаться
      .hamburger.hamburger--spin(js-hamburger)
        .hamburger-box
          .hamburger-inner
// HEADER :: END
