// BEGIN SECTION :: popups

// BEGIN POPUP :: thankpopup
.popup.mfp-with-anim.mfp-hide#thankpopup
  h2.popup__title Заявка отправлена
  .popup__info
    p В ближайшее время мы с вами свяжемся по указанным координатам.
// END POPUP :: thankpopup

// BEGIN POPUP :: stage1-1
.popup.mfp-with-anim.mfp-hide#stage1-1
  h2.popup__title Подготовительные работы
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p На этом этапе специалисты нашей компании внимательно исследуют территорию, выясняют пожелания заказчика. Исследование включает в себя и осмотр, и различные анализы (почвы, гидрологический анализ). Также проводится топографическая съемка.
    p При общении с клиентом мы всегда интересуемся его предпочтениями не только по внешнему виду, но и по функциональным особенностям территории — какие зоны необходимы, кто и как будет ими пользоваться и т.д.
// END POPUP :: stage1-1

// BEGIN POPUP :: stage1-2
.popup.mfp-with-anim.mfp-hide#stage1-2
  h2.popup__title Подготовительные работы
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p На этом этапе специалисты нашей компании внимательно исследуют территорию, выясняют пожелания заказчика. Исследование включает в себя и осмотр, и различные анализы (почвы, гидрологический анализ). Также проводится топографическая съемка.
    p При общении с клиентом мы всегда интересуемся его предпочтениями не только по внешнему виду, но и по функциональным особенностям территории — какие зоны необходимы, кто и как будет ими пользоваться и т.д.
// END POPUP :: stage1-2

// BEGIN POPUP :: stage1-3
.popup.mfp-with-anim.mfp-hide#stage1-3
  h2.popup__title Разработка проекта озеленения
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p На этом этапе специалисты нашей компании внимательно исследуют территорию, выясняют пожелания заказчика. Исследование включает в себя и осмотр, и различные анализы (почвы, гидрологический анализ). Также проводится топографическая съемка.
    p.dot
      span Характеристики территории. 
      | Как упоминалось выше, на подготовительном этапе мы проводим тщательный анализ территории – изучаем механический состав почвы, ее кислотность, уровень заболоченности, уровень грунтовых вод и т.д. На основе этих данных архитектор разрабатывает проект озеленения территории.
    p.dot
      span Пожелания клиента и функциональное зонирование. 
      | Пожелание клиента – это большая группа различных вводных данных, которые мы строго учитываем в своей работе. Все начинается с определения функциональных зон участка, затем мы определяем оптимальное расположение каждой зоны, и только после этого переходим к разработке визуальной части проекта.
    p.dot
      span Единство территории и гармония каждой отдельной зоны. 
      | Архитектор работает в нескольких плоскостях сразу – с одной стороны, он видит участок как единое целое. С другой стороны, каждая зона должна представлять собой законченную и полноценную композицию.
    p.dot
      span Красота и гармония всегда. 
      | Мы заботимся о том, чтобы с любой точки участка открывался красивый, радующий глаз вид в любое время года – не важно, будь это зима, лето или осень. Еще один важный фактор – ваш участок должен сохранять свой гармоничный вид и после 5 – 10 лет.
    p.dot
      span Гармоничное соседство растений. 
      | Озеленение – это работа с живыми растениями и чрезвычайно важно грамотно и уместно подбирать растения. Только профессионалам под силу верно выбрать растения с учетом состава почвы и их взаимной сочетаемости, продумать источники воды для влаголюбивых культур, создать тень для видов, которые плохо переносят прямой солнечный свет.
    p.dot
      span Последующий уход. 
      | Мы всегда заранее уточняем у нашего клиента, кто и как будет ухаживать за участком, и в зависимости от ответа, проекты могут существенно отличаться друг от друга. Одно дело, если заказчик планирует привлекать специалистов по уходу за участком на постоянной основе, и совершенно другое дело, если он хочет ухаживать сам и делать это редко и только самое необходимое. Важно помнить — после посадки растений все только начинается.
// END POPUP :: stage1-3

// BEGIN POPUP :: stage2-1
.popup.mfp-with-anim.mfp-hide#stage2-1
  h2.popup__title Общение с заказчиком
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Ландшафтное проектирование территории всегда начинается с общения с заказчиком. Основная задача архитектора на этом этапе — ознакомиться с пожеланиями клиента, узнать о его интересах, стилевых предпочтениях, выявить наиболее важные для владельца участка моменты, с учетом которых архитектор сможет спланировать пространство будущего сада.
// END POPUP :: stage2-1

// BEGIN POPUP :: stage2-2
.popup.mfp-with-anim.mfp-hide#stage2-2
  h2.popup__title Изыскательные работы
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p.dot Обследование территории с последующим нанесением на план существующих строений, коммуникаций, растительности.
    p.dot Исследование почвы для определения уровня кислотности, механического состава, плодородности.
    p.dot Гидрологический анализ с целью выявления заболоченности, количества грунтовых вод, направления
// END POPUP :: stage2-2

// BEGIN POPUP :: stage2-3
.popup.mfp-with-anim.mfp-hide#stage2-3
  h2.popup__title Топографическая съёмка
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Топографическая съемка — это комплекс работ, выполняемых с целью получения точного и подробного описания местности (рельефа, водных объектов, растительности и т.д.) и представленных в виде топографических карт или в какой-либо другой форме.
    p На основе полученной информации выполняется ландшафтный анализ вашего участка, выявление наиболее удачных видовых точек и перспектив.
// END POPUP :: stage2-3

// BEGIN POPUP :: stage2-4
.popup.mfp-with-anim.mfp-hide#stage2-4
  h2.popup__title Эскизное проектирование
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p На этом этапе архитектор предлагает различные варианты решения пространства участка, помогает сориентироваться в широком ассортименте материалов, представленных на рынке ландшафтной индустрии, которые подходят для использования именно в Вашем саду.
    p На основании согласованного эскиза прорабатывается Генеральный план участка.
// END POPUP :: stage2-4

// BEGIN POPUP :: stage2-5
.popup.mfp-with-anim.mfp-hide#stage2-5
  h2.popup__title Проектные работы
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p.dot Разработку проектно-сметной документации;
    p.dot Создание Генерального плана;
    p.dot Планировку освещения, авто-полива, оттока вод;
    p.dot Составление посадочного, дендрологического, разбивочного плана с привязкой проектируемых объектов;
    p.dot Проектирование вертикальной планировки участка, перемещения земляных масс, малых архитектурных форм (беседок, павильонов, ограждений, пергольных конструкций и т.д.);
    p.dot Подготовку отчета по объему строительных работ и материалов, написание пояснительной записки.
// END POPUP :: stage2-5

// BEGIN POPUP :: stage2-5
.popup.mfp-with-anim.mfp-hide#stage2-5
  h2.popup__title Изыскательные работы
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p.dot Разработку проектно-сметной документации;
    p.dot Создание Генерального плана;
    p.dot Планировку освещения, авто-полива, оттока вод;
    p.dot Составление посадочного, дендрологического, разбивочного плана с привязкой проектируемых объектов;
    p.dot Проектирование вертикальной планировки участка, перемещения земляных масс, малых архитектурных форм (беседок, павильонов, ограждений, пергольных конструкций и т.д.);
    p.dot Подготовку отчета по объему строительных работ и материалов, написание пояснительной записки.
// END POPUP :: stage2-5

// BEGIN POPUP :: stage3-1
.popup.mfp-with-anim.mfp-hide#stage3-1
  h2.popup__title Подготовительные и земельные работы
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Подготовительные и земельные работы направлены на корректировку существующего ландшафта, в том числе включают в себя перемещение грунта, имеющегося на участке.
    p Мы стремимся свести к минимуму объем привозного грунта, что позволяет снизить расходы заказчика на его доставку.
// END POPUP :: stage3-1

// BEGIN POPUP :: stage3-2
.popup.mfp-with-anim.mfp-hide#stage3-2
  h2.popup__title Осушение почвы и водоотвод
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Данные работы — важная составляющая ландшафтного строительства. Дренаж и осушение участка позволяют избежать переувлажнения почвы, которое, в свою очередь, неизменно приведет к последующим проблемам в озеленении и благоустройстве.
// END POPUP :: stage3-2

// BEGIN POPUP :: stage3-3
.popup.mfp-with-anim.mfp-hide#stage3-3
  h2.popup__title Система полива
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Автоматизированные системы полива обеспечат растительность на участке необходимой влагой, независимо от капризов природы, и избавят вас от дополнительных хлопот. Ваш сад будет радовать Вас свежей зеленью и здоровыми, красивыми растениями.
// END POPUP :: stage3-3

// BEGIN POPUP :: stage3-4
.popup.mfp-with-anim.mfp-hide#stage3-4
  h2.popup__title Система освещения
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Проектирование и монтаж систем освещения преобразит Ваш сад в темное время суток. Специально подобранные садовые светильники, грамотно размещенные на участке, выполнят не только свою основную функцию, но и создадут неповторимую атмосферу. Освещение — это многофункциональный инструмент в руках опытного ландшафтного дизайнера.
// END POPUP :: stage3-4

// BEGIN POPUP :: stage3-5
.popup.mfp-with-anim.mfp-hide#stage3-5
  h2.popup__title Исскуственные водоёмы и бассейны
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Искусственные водоемы радуют глаз, принося в сад гармонию и сходство с естественной природной средой. Их внешний вид напрямую зависит от профессионализма специалистов, выполнявших проектирование и ландшафтные работы, поэтому такие операции стоит доверять только профессионалам.
// END POPUP :: stage3-5

// BEGIN POPUP :: stage3-6
.popup.mfp-with-anim.mfp-hide#stage3-6
  h2.popup__title Спортивные и детские площадки
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Для того чтобы в саду было комфортно всем жителям дома, необходимо грамотное ландшафтное проектирование, позволяющее обустроить для каждого свой уголок для отдыха. Специалисты нашей компании проектируют и осуществляют монтаж рекреационных зон различного назначения, спортивных и детских площадок.
// END POPUP :: stage3-6

// BEGIN POPUP :: stage3-7
.popup.mfp-with-anim.mfp-hide#stage3-7
  h2.popup__title Садовые дорожки
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Мы осуществляем проектирование и мощение садовых дорожек, роль которых в ландшафтном строительстве сложно переоценить. Помимо удобства они имеют и декоративный эффект, разделяя пространства на зоны и правильно распределяя визуальные акценты Вашего сада. Для того чтобы дорожки стали его настоящим украшением, необходимо использовать качественные материалы, широкий выбор которых вы найдете в «Принцип NOVO».
// END POPUP :: stage3-7

// BEGIN POPUP :: stage3-8
.popup.mfp-with-anim.mfp-hide#stage3-8
  h2.popup__title Прокладка коммуникаций и оформление садов
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Мы осуществляем полный комплекс работ по прокладке коммуникаций и установке инженерных сооружений. Наши специалисты имеют богатый опыт в планировании и монтаже систем водоснабжения, канализации, электричества различной степени сложности. В дополнении в к коммуникациям — оформление зимних садов. Изысканное и яркое решение для желающих продлить наше короткое северное лето в собственном доме.
// END POPUP :: stage3-8

// BEGIN POPUP :: stage4-1
.popup.mfp-with-anim.mfp-hide#stage4-1
  h2.popup__title 01 Подготовительные и земельные работы
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Мы осуществляем полный комплекс работ по прокладке коммуникаций и установке инженерных сооружений. Наши специалисты имеют богатый опыт в планировании и монтаже систем водоснабжения, канализации, электричества различной степени сложности. В дополнении в к коммуникациям — оформление зимних садов. Изысканное и яркое решение для желающих продлить наше короткое северное лето в собственном доме.
// END POPUP :: stage4-1

// BEGIN POPUP :: stage4-2
.popup.mfp-with-anim.mfp-hide#stage4-2
  h2.popup__title 02 Осушение почвы и водоотвод
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Мы осуществляем полный комплекс работ по прокладке коммуникаций и установке инженерных сооружений. Наши специалисты имеют богатый опыт в планировании и монтаже систем водоснабжения, канализации, электричества различной степени сложности. В дополнении в к коммуникациям — оформление зимних садов. Изысканное и яркое решение для желающих продлить наше короткое северное лето в собственном доме.
// END POPUP :: stage4-2

// BEGIN POPUP :: stage4-3
.popup.mfp-with-anim.mfp-hide#stage4-3
  h2.popup__title 03 Иссусственные водоёмы и бассейны
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Мы осуществляем полный комплекс работ по прокладке коммуникаций и установке инженерных сооружений. Наши специалисты имеют богатый опыт в планировании и монтаже систем водоснабжения, канализации, электричества различной степени сложности. В дополнении в к коммуникациям — оформление зимних садов. Изысканное и яркое решение для желающих продлить наше короткое северное лето в собственном доме.
// END POPUP :: stage4-3

// BEGIN POPUP :: stage4-4
.popup.mfp-with-anim.mfp-hide#stage4-4
  h2.popup__title 04 Спортивные и детские площадки
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Мы осуществляем полный комплекс работ по прокладке коммуникаций и установке инженерных сооружений. Наши специалисты имеют богатый опыт в планировании и монтаже систем водоснабжения, канализации, электричества различной степени сложности. В дополнении в к коммуникациям — оформление зимних садов. Изысканное и яркое решение для желающих продлить наше короткое северное лето в собственном доме.
// END POPUP :: stage4-4

// BEGIN POPUP :: stage5-1
.popup.mfp-with-anim.mfp-hide#stage5-1
  h2.popup__title Уход за газоном
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p.dot Покос,
    p.dot Аэрация,
    p.dot Мульчирование,
    p.dot Борьба с сорняками,
    p.dot Восстановление изреженных участков,
    p.dot Внесение удобрений.
    p Только при своевременном осуществлении этих операций газон будет радовать вас свежестью и густотой и надолго сохранит внешний вид, который он имел после первоначального благоустройства дачного участка.
    p Цена ухода за газоном рассчитывается индивидуально и зависит от площади газона, его типа и состояния. 
// END POPUP :: stage5-1

// BEGIN POPUP :: stage5-2
.popup.mfp-with-anim.mfp-hide#stage5-2
  h2.popup__title Обрезка деревьев и кустарников
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Для того чтобы обеспечить комфортные условия роста вашим садовым культурам и сохранить форму кроны, предусмотренную ландшафтным дизайном, необходимо регулярное выполнение следующих процедур:
    p.dot Санитарная и формирующая обрезка деревьев и кустарников,
    p.dot Стрижка живых изгородей,
    p.dot Прополка и рыхление приствольных кругов.
// END POPUP :: stage5-2

// BEGIN POPUP :: stage5-3
.popup.mfp-with-anim.mfp-hide#stage5-3
  h2.popup__title Борьба с вредителями
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Борьба с вредителями и болезнями сада занимает важное место среди мероприятий по уходу. Здесь залог успеха – заблаговременное проведение профилактических мероприятий, ведь легче предупредить болезни декоративных и плодово-ягодных растений, чем заниматься их лечением.
// END POPUP :: stage5-3

// BEGIN POPUP :: stage5-4
.popup.mfp-with-anim.mfp-hide#stage5-4
  h2.popup__title Внесение удобрений
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Для каждого заказчика мы составляем индивидуальный график мероприятий по уходу с учетом имеющихся растений и химического состава почвы.
    p В соответствии с этим планом проводятся мероприятия по внесению минеральных и органических удобрений, осуществляются внекорневые подкормки, обработка стимуляторами роста.
// END POPUP :: stage5-4

// BEGIN POPUP :: stage5-5
.popup.mfp-with-anim.mfp-hide#stage5-5
  h2.popup__title Уход за водоёмами
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Уход за водоемами помогает избежать заиливания, поддерживать необходимое качество воды и избегать ее цветения в сезон.
// END POPUP :: stage5-5

// BEGIN POPUP :: stage5-6
.popup.mfp-with-anim.mfp-hide#stage5-6
  h2.popup__title Подготовка растений к зиме
  .popup__info(data-simplebar data-simplebar-auto-hide="false")
    p Мероприятия по подготовке растений к зиме, а также меры по предохранению их от заморозков, солнечных ожогов, ветра не стоит недооценивать. В нашем климате никогда нельзя с уверенностью сказать, насколько морозной и снежной будет каждая зима, поэтому лучше заранее подготовить ваш сад к любому ее варианту.
    p Особенно это актуально для чувствительных к заморозкам декоративных и плодово-ягодных растений, которые без надлежащего покрытия просто вымерзают.
    p Каждое из перечисленных мероприятий требует своевременного и добросовестного исполнения. От качества ухода за участком и квалификации специалистов зависит красота, здоровье и долголетие Вашего сада.
    p Чтобы сделать сад любимым местом отдыха для всей семьи, доверьте уход за ним нашим специалистам! Профессиональное образование, опыт и увлеченность человека, посвятившего жизнь профессии садовника, позволят саду долгое время радовать Вас своим цветением и избавят от тяжелой и порой грязной работы.
// END POPUP :: stage5-6

// END SECTION :: popups