---
title: GreenArty
---
extends shared/_layout
block content

  // BEGIN SECTION :: firstscreen
  section(data-section='0')
    .firstscreen
      .firstscreen__info
        h1(data-aos='fade-up') Ландшафтный дизайн
          br 
          | «Под ключ»
        p(data-aos='fade-up') от профессиональных дизайнеров и инженеров
  
  // END SECTION :: firstscreen